@if(course){
    <div class="course-card" #courseCard>
        <!-- title -->
        <div class="course-title" >
            <h3>{{course.description | titlecase}}</h3>
        </div>
        <!-- image -->
        <!-- <img #courseImage class="course-img" [src]="course.iconUrl" [alt]="course.description" /> -->
        <ng-content select=".course-image"></ng-content>

        <!-- category -->
        <div class="course-category" [ngStyle]="categoryStyles()">

            @switch(course.category){
                @case ('BEGINNER') {
                    <h4>Beginner</h4>
                }
    
                @case ('INTERMEDIATE') {
                    <h4>Intermediate</h4>
                }
    
                @case ('ADVANCED') {
                    <h4>Advanced</h4>
                }
            }

        </div>
        <!-- description -->
        <!-- <div class="course-desc">
            <p>{{course.longDescription}}</p>
        </div> -->

        <ng-content select=".course-desc"></ng-content>
    
        <button class="button-80" role="button" (click)="viewCourse()">View Course</button>
    
    </div>
}