
.top-menu{
    width: 100vw;
    height: auto;
    border-bottom: 1px solid;
}

.top-menu .logo{
    width: 50px;
    margin: auto 11px;
}

.courses{
    width: 100%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
}

app-course-card.is-first{
    border-top: 2px solid gray;
}

app-course-card.is-last{
    border-bottom: 2px solid gray;
}

app-course-card.is-even{
    background-color: blanchedalmond;
}
app-course-card.is-odd{
    background-color: cadetblue;
}
