<div class="top-menu">
  <img src="../assets/img/angular.png" alt="" class="logo" />
  <div>
    <h2>{{date | date}}</h2>
  </div>
</div>

<div class="courses">
  @for(course of courses; track course.id; let index = $index; let count = $count; let first = $first; 
  let last = $last; let even = $even; let odd = $odd){
  <app-course-card
    [index]="index"
    (onCourseSelected)="onCourseSelected($event)"
    [course]="course"
  ></app-course-card>
  } @empty{
  <h1>No data available</h1>
  }
</div>
